/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
	overflow: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.everything {
	position: absolute;
	top: 50%;
	left: 50%;
	/* transform: translate(-50%, -50%) scale(.6); */
	/* transform: translate(-50%, -50%) scale(.75); */
	/* overflow-y: scroll;
	overflow-x: hidden; */
	background: white;
	overflow: hidden;
	--dima-red: #CF2791;
	font-family: 'NanumSquare Neo OTF', sans-serif;
	
	margin: 0;
	padding: 0;
	
	--w300: 300;
	--w500: 500;
	--w900: 900;
	
	--s5: 5px;
	--s8: 8px;
	--s10: 10px;
	--s12: 12px;
	--s15: 15px;
	--s18: 18px;
	--s20: 20px;
	--s25: 25px;
	--s30: 30px;
	--s32: 32px;
	--s64: 64px;
}

.everything * {
	backface-visibility: hidden;
	transform: translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
}